@font-face {
  font-family: UTTP; /* Имя шрифта */
  src: url(/images/GOTHICB.TTF); /* Путь к файлу со шрифтом */
}

$base-color: #771a6b;
* {
  font-family: UTTP;
}

.logo {
  width: 100%;
  height: 100%;
  position: fixed;
  background: black;
  video {
    display: block;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.end {
  animation: end 3s;
  animation-fill-mode: forwards;
  @keyframes end {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
.phone {
  position: fixed;
  width: 200px;
  height: 200px;
  left: 5%;
  bottom: 5%;
  border-radius: 50%;
  background-color: rgba($base-color, 0.8);
  border: 10px solid white;
  span {
    display: block;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 33px;
    text-transform: uppercase;
    text-shadow: 0 0 16px rgba(225, 255, 255, 0.8);   
  }
  &:before {
    content: '';
    position: absolute;
    height: 110%;
    width: 110%;
    left: -10px;
    top: -10px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: waves 2s ease-out infinite;
    @keyframes waves {
      0% {
        border: 10px solid white;
        transform: scale(1);
        opacity: 1;
      }
      100% {
        opacity: 0;
        border: 0px solid white;
        transform: scale(1.5);
      }
    }
  }

  img {
    width: 30%;
    margin-left: 66px;
    margin-top: 27px;
  }
}

#webgl {
  display: flex;
  justify-content: center;
  align-items: center;
}
#video {
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 25px 5px rgba(104, 232, 236, 0.8);
}
#videoBlock {
  will-change: visibility, opacity, width, height;
  z-index: 1000;
  position: absolute;
  display: none;
  margin: auto;
  width: 100%;
  height: 100%;
  opacity: 0;
  justify-content: center;
  align-items: center;
  transform: scale(0.1);
}
.start {
  opacity: 0;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 300px;
  margin-left: -200px;
  margin-top: -150px;
  transition: all 1.3s ease-out;
  transform: translateY(0);
  span {
    width: 100%;
    display: block;
    font-size: 44px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-shadow: 0 11px 8px rgba(0,0,0,.3);
    letter-spacing: 2px;
  }
  img {
    height: 90%;
    margin-left: 65px;
  }
}

#active {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;

  span {
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.6);
    border: 4px solid white;
    border-radius: 10px;
    background-color: rgba(94, 36, 105, 1);
    padding: 10px 30px;
    text-shadow: 0 0 16px rgba(225, 255, 255, 0.8);
    display: block;
    text-align: center;
    top: 10%;
    position: absolute;
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    animation: blink 2s ease-in infinite;
    @keyframes blink {
      0% {
        opacity: 0;
      }
      25% {
        opacity: 1;
      }
      80% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
}

#end {
  width: 100%;
  height: 100%;
  position: fixed;
  background: black;
  opacity: 0;
  display: none;
  transition: all 2s ease-out;
  z-index: 100;
  video {
    display: block;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.city {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: scale(0);
  top: 0;
  left: 0;
  transition: all 1.5s ease-out;
  .block {
    width: 700px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    margin-top: 31%;
    span {
      box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.6);
      border: 4px solid white;
      border-radius: 10px;
      background-color: rgba(94, 36, 105, 1);
      padding: 10px 30px;
      font-size: 50px;
      color: white;
    }
  }
}
