.play-btn {
  width: 300px;
  height: 300px;
  background: radial-gradient(
    rgba(255, 0, 128, 0.8) 60%,
    rgba(255, 255, 255, 1) 62%
  );
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  margin: -150px 0px 0px -150px;
  box-shadow: 0px 0px 25px 3px rgba(255, 0, 128, 0.8);
}
/* triangle */
.play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
  border-left: 75px solid #fff;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* pulse wave */
.play-btn:before {
  content: '';
  position: absolute;
  width: 160%;
  height: 160%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.75);
  top: -33%;
  left: -33%;
  background: rgba(198, 16, 0, 0);
}
@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75),
      0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;
  }
}

.end {
  animation: end 2s;
  animation-fill-mode: forwards;
  @keyframes end {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
.phone {
  position: fixed;
  width: 300px;
  height: 300px;
  right: 5%;
  top: 5%;

  img {
    height: 100%;
    animation: 0.1s tremor ease-out infinite;
    @keyframes tremor {
      0%,
      25% {
        left: -1px;
        -webkit-transform: translateX(-2%);
        transform: translateX(-2%);
      }
      50%,
      100% {
        left: 10px;
        -webkit-transform: translateX(2%);
        transform: translateX(2%);
      }
    }
  }
}
#webgl {
  display: flex;
  justify-content: center;
  align-items: center;
}
#video {
  margin: auto;
  box-shadow: 0px 0px 25px 5px rgba(104, 232, 236, 0.8);
  border-radius: 5px;
  overflow: hidden;
}
#videoBlock {
  will-change: visibility, opacity;
  z-index: 1000;
  position: absolute;
  background: black;
  display: none;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  margin: auto;
  width: 0%;
  height: 0%;
  transition-duration: 1s;
  justify-content: center;
  align-items: center;
}

#webgl {
  display: flex;
  justify-content: center;
  align-items: center;
}
#video {
  margin: auto;
  box-shadow: 0px 0px 25px 5px rgba(104, 232, 236, 0.8);
  border-radius: 5px;
  overflow: hidden;
}
#videoBlock {
  will-change: visibility, opacity;
  z-index: 1000;
  position: absolute;
  background: black;
  display: none;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  margin: auto;
  width: 0%;
  height: 0%;
  transition-duration: 1s;
  justify-content: center;
  align-items: center;
}
a.finalButton {
  z-index: 999999;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -225px;
  width: 450px;
  overflow: hidden;
  height: 90px;
  text-decoration: none;
  border-radius: 7px;
  color: #a675b3;
  text-align: center;
  opacity: 0;
  line-height: 60px;
  display: none;
  font: normal 22px arial;
  box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8),
    inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3),
    0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
  background-image: linear-gradient(#3b2751, #271739);
  text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
  transition: all 1.3s ease-out;
}
a.finalButton span {
  height: 90px;
  line-height: 90px;
}
a.finalButton:hover,
a.finalButton:focus {
  color: #fff;
  text-shadow: 0 0 21px rgba(223, 206, 228, 0.5),
    0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
}
